.whyme-container {
  width: 100%;
  height: 90vh;
  display: flex;
  .whyme-left {
    width: 50%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .whyme-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 4rem;
    h1 {
      font-size: 3rem;
      font-weight: 300;
      span {
        font-weight: 600;
        color: $blue;
      }
    }
    p {
      padding-top: 1rem;
    }
  }
}

@media screen and (max-width: 755px) {
  .whyme-container {
    height: auto;
    flex-direction: column;
    .whyme-left {
      width: 100%;
      height: 60%;
    }
    .whyme-right {
      width: 90%;
      height: auto;
      padding: 3rem 1rem;
    }
  }
}

@media screen and (max-width: 310px) {
  .whyme-container {
    .whyme-right h1 {
      font-size: 2rem;
    }
  }
}
