$font: "Montserrat", sans-serif;

$transition: all 0.3s ease-out;
$b-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

$blue-lighter: #086fa7;
$blue: #1f98dc;
$blue-darker: #008dd8;
$dark: #0b1a22;
